<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.scripts.MavenActitime.TestGoogleSearch"/>
      <class name="com.scripts.MavenActitime.TestSignUpToFacebook"/>
      <class name="com.scripts.MavenActitime.TestActitimeLogin"/>
      <class name="com.scripts.MavenActitime.TestCreateCustomerActiTime"/>
      <class name="com.scripts.MavenActitime.TestCreateProject"/>
      <class name="com.scripts.MavenActitime.TestDeleteProject"/>
      <class name="com.scripts.MavenActitime.TestCreateCustDeleteActitime"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
